.container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    background-color:aquamarine;
}
.content{
    background-color: blueviolet;
    font-size: 2em;
    max-width: 1140px;
    margin: 0 auto
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li:hover{
    background-color: lightgray;
}